:root{
    --color-primary-nutmeg: hsl(14, 45%, 36%);
    --color-primary-dark-raspberry: hsl(332, 51%, 32%);
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-eggshell: hsl(30, 54%, 90%);
    --color-light-grey: hsl(30, 18%, 87%);
    --color-wenge-brown: hsl(30, 10%, 34%);
    --color-dark-charcoal: hsl(24, 5%, 18%);
    --color-brandy-red: #854632;

    --font-heading-l:40px;
    --font-heading-m:28px;
    --font-heading-s:20px;
    --font-body-regular:regular;
    --font-body-bold:bold;
}